<!doctype html>
<html>
<head>
    <title>Rock, paper, scissors!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles.css" type="text/css">
    <script>var gameID = <%- id %>;</script>
    <script src="https://cdn.ably.com/lib/ably.min-1.js"></script>
    <script src="//cdn.ably.io/lib/vcdiff-decoder.min-1.js"></script>
    <script src="map.js"></script>
    <script src="common.js"></script>
    <script src="connection/ably.js"></script>
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon">
</head>
<body>

    <header>
        <h1>Rock, paper, scissors!</h1>
    </header>

<div class="main-wrapper">
    <div class="parent">
        <div class="child1">
            <canvas id="game" width="512" height="512" ondragstart="return false;" ondrop="return false;" user-select:none;></canvas>
        </div>
        <div class="child2" style="display: flex;">            
            <div class="scoreboard">
              <h2>Scoreboard</h2>
              <ul class="scores" id="scoreboard">
              </ul>
            </div>
            <div style="padding-left: 55px;"><img src="../qr.png"  width="700" height="700"></div>
        </div>
        <div class="child3">
            <h3 style="width: 50%; font-size: xx-large;">Want to build something cool with realtime communications? Check out the Hackathon at <a href="lol">https://github.com/ably-labs/Gophercon-Hackathon</a></h3>
            <div><img src="../hackathon.png"  width="600" height="600"></div>
        </div>
    </div>
<!--     <section class="game">
         <div class="row">
          <div class="middle">
          <div class="right">
        
          </div>
        </div>
          <div class="grid-item">
              <img src="../qr.png"  width="300" height="300">
          </div>
        </div> 
    </section> -->

    <section class="rules">
        <h2>Rules</h2>
        <p>You will appear on a map as a hand. You will be either <strong>rock, paper or scissors</strong>.</p>
        <p>You can either move around with arrow keys, or by holding down on a touchscreen the location you'd like to go to</p>
        <p>If you collide with another player, one of you will be defeated if you are different hand shape.</p>
        <ul>
            <li>Paper defeats rock</li>
            <li>Rock defeats scissors</li>
            <li>Scissors defeats paper</li>
        </ul>
        <p>Every 10 seconds, everyone's colour and shape will change. Collect as many points as possible by defeating other players. Good luck!</p>
    </section>

    <footer>
        <p>Source code on <a href="https://github.com/ably-labs/ably-rock-paper-scissors" target="_top">the Github repository</a>.</p>
    </footer>
    <script src="loader.js"></script>
    <script src="keyboard.js"></script>
    <script src="camera.js"></script>
    <script src="player.js"></script>
    <script src="game.js"></script>
    <script>startGame()</script>
</div>

</body>
</html>