<!doctype html>
<html>
<head>
    <title>Rock, paper, scissors!</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>
<body>

<header class="main-header">
    <h1><a href="/">Rock, paper, scissors!</a></h1>
    <p class="subtitle">How to play</p>
</header>

<div class="main-wrapper">
    <p>You will appear on a map as a hand. You will be either <strong>rock, paper or scissors</strong>.</p>
    <p>If you collide with another player, then one of you will be defeated if you are different hand shape.</p>
    <ul>
        <li>Paper defeats rock</li>
        <li>Rock defeats scissors</li>
        <li>Scissors defeats paper</li>
    </ul>
    <p>Every 10 seconds, everyone's colour and shape will change. The last square standing wins. Good luck!</p>

    <form action="./game">
        <input type="submit" value="Start a game!" />
    </form>


    <footer class="main-footer">
        <p>Source code on <a href="https://github.com/ably-labs/rockpaperscissors" target=_top>the Github repository</a>.</p>
    </footer>
</div>

</body>
</html>
