:root {
    --dark-grey: #333;
    --primary: #ED760A;
    --secondary: #c76306;
}

body {
    font-family: 'Source Code Pro', 'Courier', monospace;
    margin: 0;
}

canvas {
    height: calc(100vh - 110px);
    background: #fff;
    border: 2px solid black;
}

a {
    color:#ED760A;
    text-decoration: none;
}

a:hover, 
a:visited {
    color :var(--secondary);
    text-decoration: underline;
}

.parent {
  display: grid;
  grid-template-columns: calc(100vh - 110px) 400px 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: calc(1rem + 4px);
  margin: 1rem;
  margin-right: 0;
}

.logo {
    color: white;
}

header {
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #ED760A;
}

h1 {
    font-size: 3rem;
    padding-left: 2rem;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 3em;
    margin: 1rem;
}

h3 {
    margin: 0;
    text-align: center;
}

main {
    width: 512px;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0 auto;
}

footer {
    margin-top: 2em;
}

li, p {
    line-height: 1.25em;
}

li {
    margin: 0.5em 0;
}

.start {
    display: block;
    width: 120px;
    height: 100px;
    margin: 0 auto;
    border: 0;
    font-size: 0;
    color: transparent;
    background: url(./assets/play.png) no-repeat center;
    background-size: 120px;
    cursor: pointer;
}

.start:hover {
    background: url(./assets/play-pressed.png);
    background-size: 120px;
}

#dialog {
  background: rgba(255,255,255,.5);
  position: absolute;
  left: 0;
  top: 0;
}

.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}

.nameinput {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}

label {
    font-weight: bold;
    font-size: 1.4rem;
}

.name {
    min-width: 150px;
    margin-left:1em;
    padding: .5em;
    border: 2px solid black;
    border-right: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    font-size: 1rem;
}

.join {
    padding: .5em;
    border: 2px solid black;
    border-radius: 0px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #ED760A;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.join:hover {
    background-color: #c76306;
}

.game {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.score {
    display: flex;
    height: calc(100vh - 110px);
    border: 2px solid black;
}

.scoreboard {
    width: max-content;
    min-width: 100%;
    background-color: black;
    color: white;
    font-family: 'VT323', monospace;
    letter-spacing: 1px;
}

.scores {
    list-style: none;
    padding: 0;
    height: 416px;
    overflow-y: auto;
}

.scores li {
    font-size: 2rem;
    margin: 0.25rem 1rem; 
    border-bottom: 1px solid #353535;
}

.scores span {
    float: right;
}

.rules {
    max-width: 960px;
    margin: 0 auto;
}

.qr {
    max-width: 600px;
    max-height: 48vh;
}

.joinin {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.joinin-title {
    margin: 0;
    text-align: left;
}

.hackthon-title {
    font-size: 1.6rem;
    text-align: left;
}

.hackathon {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: flex-end;
    width: calc(100% - 2rem);
    margin-top: auto;
    padding: 1rem;
    background-color: #ED760A;
}

.hackathon-qr {
    max-width: 40%;
    display: block;
    flex-shrink: 0;
    margin-left: 2rem;
}

.hackathon-link {
    color: white;
}